langchain==0.3.27 #type: ignore
langchain-community==0.3.27 #type: ignore
langchain-core==0.3.72 #type: ignore

langchain-groq==0.3.6 #type: ignore
langchain-google-genai==2.1.8 #type: ignore

faiss-cpu==1.11.0.post1 #type: ignore
fastapi==0.116.1 #type: ignore
uvicorn==0.35.0 #type: ignore
python-dotenv==1.1.1 #type: ignore
python-multipart==0.0.20
PyMuPDF==1.26.3
structlog==25.4.0   #type: ignore
docx2txt==0.9
ipykernel==6.30.0 #type: ignore
streamlit==1.47.1 #type: ignore
pytest==8.4.1 #type: ignore
pypdf==5.8.0 #type: ignore


-e .
